@font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

input {
    height: 19px; 
    text-align: center;
}



/*-------------------------------------------*/
.page_view {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #f0f0f0;
}
.page_view .web_site {
    height: 100%;
    width: 100%;
    overflow: auto;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
}
.page_control {
    width: 35%;
    height: 100%;    
    border-left: 3px solid #292929;
    background: #c9c9c9;
    padding-left: 6px;
}
.attach{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.attach .left{
    display: flex;
}
.attach .right{
    display: flex;    
}
/* icons */
.icon {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
}

.btn_tags {
    width: 80px;
}

.hide {
    display: none !important;
}
select.setting_div {
    width: 173px;
}

.active_tag {
    position: relative;
    outline: 4px inset #457fec !important;
    outline-offset: -4px !important;
}
.active_tag_edit{
    outline: 4px inset #d35d18 !important;
    outline-offset: -4px !important;
}
.tags {
    margin-bottom: 14px;
}
.group_s input {
    width: 52px;
    border: 1px solid black;
    /* border-radius: 5px; */
    /* margin-right: 2px; */
}
.group_s select {
    width: 101px;
    height: 21px;
    border: 1px solid black;
    border-radius: 4px;
}
.outline input:nth-child(1) {
    width: 178px;
}
.indents {
    display: flex;
} 
.indents .padding,.indents .margin {
    margin-right: 20px;
    position: relative;
}
.units.top {
    position: absolute;
    top: -23px;
}

.units.bottom {
    position: absolute;
    bottom: -23px;
}
.settings-mp input.center{
    width: 119px;
}

input.center{
    border-radius: 15px;
}

.settings-mp {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}
.div-settings {
    margin-bottom: 15px;
}
.div-settings .group_s{
    margin-bottom: 15px;
    display: flex;
}

.color .setting_div {
    width: 103px;
}
.switch-units{
    display: none;
}


.switch-units + label.switch-left{
    border: 1px solid black;
    background: #ffffff;
    border-radius: 10px 0px 0px 10px;
    padding-left: 3px;
    border-right: none;
    cursor: pointer;
}
.switch-units + label.switch-right{
    border: 1px solid black;
    background: #ffffff;
    border-radius: 0px 10px 10px 0px;
    padding-right: 3px;
    cursor: pointer;
    border-left: none;
}
.switch-units:checked + label.switch-left{
    background: #457fec;
    padding-left: 3px;
    border-right: none;
}
.switch-units:checked + label.switch-right{
    background: #457fec;
    padding-right: 3px;
    border-left: none;
}
.units{
    display: flex;
    height: 21px;
}
.indents-show + div{
    display: none;
}
.indents-show:checked + div{
    display: flex;
}
input.border  {
    width: 119px;
}

/* color-picker */
.picker {
    display: flex;
}
.picker .current-color {
    margin-left: 20px;
}
.picker .color-view {
    width: 72px;
    height: 72px;
    background: #fff; 
    border: 1px solid;  
}
.picker .color-text{
    margin-top: 15px;
    /* width: 72px; */
    border: 1px solid;
}
.picker .block_picker {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    border: 1px solid;
    background: rgb(255 0 0);
}
.picker .color-line {
    width: 27px;
    height: 200px;
    background: #fff;
    border: 1px solid; 
}
.picker .arrows:hover,.picker .square:hover{
    cursor: pointer;
} 
.picker .arrows {
    width: 48px;
    height: 12px;
    left: -10px;
    top: 0px;
    position: absolute;
}
.picker .line {
    position: relative;
}
.picker .left_arrow {	
	width:0;
	height:0;
	left:0;
	position:absolute;
	border-bottom:6px solid transparent;
	border-left:10px solid black;
	border-top:6px solid transparent;
	border-right:10px solid transparent;
}
.picker .right_arrow {	
	width:0;
	height:0;
	right:0px;
	position:absolute;
	border-bottom:6px solid transparent;
	border-left:10px solid transparent;
	border-top:6px solid transparent;
	border-right:10px solid black;
}
.picker .bk_img {
    width: inherit;
    height: inherit;
}
.picker .square {
    
    border: 1px solid black;
	width:8px;
	height:8px;
	outline: 1px solid rgb(255 255 255);
	position:absolute;
	left:0;
	top:0;
	cursor: default;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
    -webkit-user-select: none;   
}
/*popup*/
.popup-save, .popup-import {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #16161693;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-save .data, .popup-import  .data {
    background: #fff;
    width: 400px;
    height: 300px;
    vertical-align: middle;
    border: 10px solid #888888;
    border-radius: 20px;
    padding: 8px;
    position: relative;
}

.close-popup {
    position: absolute;
    right: 10px;
    top: 5px;
}
.close-popup:hover{
    cursor: pointer;
}
.data-head {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.data-head button{
    width: 45px;
}
.data-body{
    display: flex;
    justify-content: center;    
    overflow-y: auto;
    overflow-x: hidden;
    height: 90%;
}
.saves {
    border-collapse: collapse;
    margin-top: 15px;
    width: 100%;
}
.saves input {
    width: 95%;
    border: none;
    font-size: 16px;
    /* text-align: left; */
}
.saves input:focus {
    border: none;
    outline: none;
}

.saves tr {
    border-bottom: 1px solid black;
}
.saves th {
    padding-bottom: 15px;
}
.saves tbody td{
    padding: 8px 4px 8px 4px;
    white-space: nowrap;
    text-align: center;
    width: 33%;
}
.saves tbody tr:hover {
    cursor: pointer;
    background: #dedede;
}
.saves tbody tr.active {
    cursor: pointer;
    background: #c4c4c4;
}
.saves td.date {
    font-size: 13px;
    color: #767676;
    font-style: italic;
}



.import_fieds {
    height: 160px;
}
.popup-import  textarea{
    width: 49%;
    height: 100%;
    resize: none;
}
.import-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.popup-import .head-url, .foot-url {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.popup-import .input-url input {
    width: 100%;
    margin-top: 10px;
}
