*{
    margin: 0;
    padding: 0;
    /* border: solid 1px #686868; */
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}




/*-------------------------------------------*/
.page_view {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #f0f0f0;
}
.page_view .web_site {
    height: 100%;
    width: 100%;
    overflow: auto;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
}
.page_control {
    width: 35%;
    height: 100%;    
    border-left: 3px solid #292929;
    background: #c9c9c9;
}
.attach{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.attach .left{
    display: flex;
}
.attach .right{
    display: flex;    
}
/* icons */
.icon {
    display: block;
    background: #fff;
}
.icon.pin {
    width: 25px;
    height: 25px;
}
.icon.full_screen {
    width: 25px;
    height: 25px;
}
.icon.view_code {
    width: 25px;
    height: 25px;
}
.icon.copy_html {
    width: 25px;
    height: 25px;
}
.btn_tags {
    width: 80px;
}

.hide {
    display: none;
}

.active_tag {
    border: solid 2px #457fec !important;
}